apiVersion: v1
kind: Pod
metadata:
  name: good-pod
  namespace: payments
spec:
  securityContext:
    runAsNonRoot: true
    runAsUser: 1000
  containers:
    - name: app
      image: busybox
      command: ["sh", "-lc", "id; sleep 3600"]
      securityContext:
        allowPrivilegeEscalation: false
